{% extends 'blog/base.html'%}
{%block content%}
<header class="masthead" style="background-image: url({{post.image_link}})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>{{post.title}}</h1>
                    <span class="subheading">{{post.subtitle}}</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
<div class="post-preview">   
       
    <body>
        <h6 class ="custom1" >
            {{post.text}}
        </h6>
    </body>
    <p class="post-meta">
        Posted by
        <a href="#!">{{post.author}}</a>
        on {{post.published_date}}
    </p>
</div> 
{%endblock%}