{% extends 'blog/base.html'%}
{%block content%}
<header class="masthead" style="background-image: url({{post.image_link}})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>{{post.title}}</h1>
                    <span class="subheading">{{post.subtitle}}</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <p>{{ post.text|safe }}</p>
            <div class="row gx-4 gx-lg-5 justify-content-center">


                <a href="{% url 'add_comment' pk=post.pk %}" class="btn btn-primary">Adicionar comentario</a>


            </div>
        </div>
    </div>
</div>

<hr>
{%for comment in post.comments.all%}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <hr>
            <h3>{{comment.author}}</h3>
            <p>{{ comment.text }}</p>
            <p>{{ comment.created_date }}</p>
            {% empty %}
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Nenhum comentário</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endfor%}
{%endblock%}